.btn-cv {
  background: var(--blue-2);
  padding: .6rem 2rem;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 1024px) {
  .btn-cv {
    padding: 1rem 2rem;
    max-width: 8rem;
  }
}
